WebClient/src/META-INF/wsdl/localhost_8080/WebServer/WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Server/" name="WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://Server/" schemaLocation="http://localhost:8080/WebServer/WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addSample">
<part name="parameters" element="tns:addSample"/>
</message>
<message name="addSampleResponse">
<part name="parameters" element="tns:addSampleResponse"/>
</message>
<message name="testConnection">
<part name="parameters" element="tns:testConnection"/>
</message>
<message name="testConnectionResponse">
<part name="parameters" element="tns:testConnectionResponse"/>
</message>
<message name="findMinimumAmongSamples">
<part name="parameters" element="tns:findMinimumAmongSamples"/>
</message>
<message name="findMinimumAmongSamplesResponse">
<part name="parameters" element="tns:findMinimumAmongSamplesResponse"/>
</message>
<message name="findMinimumBetween">
<part name="parameters" element="tns:findMinimumBetween"/>
</message>
<message name="findMinimumBetweenResponse">
<part name="parameters" element="tns:findMinimumBetweenResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="TestWebService">
<operation name="addSample">
<input wsam:Action="http://Server/TestWebService/addSampleRequest" message="tns:addSample"/>
<output wsam:Action="http://Server/TestWebService/addSampleResponse" message="tns:addSampleResponse"/>
</operation>
<operation name="testConnection">
<input wsam:Action="http://Server/TestWebService/testConnectionRequest" message="tns:testConnection"/>
<output wsam:Action="http://Server/TestWebService/testConnectionResponse" message="tns:testConnectionResponse"/>
</operation>
<operation name="findMinimumAmongSamples">
<input wsam:Action="http://Server/TestWebService/findMinimumAmongSamplesRequest" message="tns:findMinimumAmongSamples"/>
<output wsam:Action="http://Server/TestWebService/findMinimumAmongSamplesResponse" message="tns:findMinimumAmongSamplesResponse"/>
</operation>
<operation name="findMinimumBetween">
<input wsam:Action="http://Server/TestWebService/findMinimumBetweenRequest" message="tns:findMinimumBetween"/>
<output wsam:Action="http://Server/TestWebService/findMinimumBetweenResponse" message="tns:findMinimumBetweenResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Server/TestWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Server/TestWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="TestWebServicePortBinding" type="tns:TestWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addSample">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMinimumAmongSamples">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMinimumBetween">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebService">
<port name="TestWebServicePort" binding="tns:TestWebServicePortBinding">
<soap:address location="http://localhost:8080/WebServer/WebService"/>
</port>
</service>
</definitions>